
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #131921;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  width: 100px;
  margin-top: 16px;
  margin-left: 20px;
  margin-right: 20px;
  /* background-color: yellowgreen; */
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  margin-right: 15px;
  margin-left: 15px;
}

.header__searchInput {
  display: flex;
  /* background-color: antiquewhite; */
  height: 12px;
  padding: 10px;
  width: 100%;
}

.header__searchIcon {
  background-color: #cd9042;
  height: 22px !important;
  padding: 6px;

}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__link {
  color: white;
  text-decoration: none;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}

.header__optionLineOne {
  font-size: 11px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header__optionBasket {
  display: flex;
  align-items: center;
}

.header__basketCount {
  margin-left: 10px;
  margin-right: 10px;
}